params {
    samplesheet = false
    input = false
    counts = false
    taxonomy = false
    metadata = false
    filter = ""
    tax_level = 'species'
    metric = 'relative_abundance'
    method = 'corncob'
    formula = false
    fdr_cutoff = "0.05"
    min_abund = "0.01"
    min_coverage = 0.75
    use_unaligned = false
    read_kwargs = '{"sep": ",", "index_col": 0}'
    data_output = "output/data"
    web_output = "output/web"
    container = 'quay.io/fhcrc-microbiome/python-pandas:0bd71f8'
    container__corncob = 'quay.io/fhcrc-microbiome/corncob:84c8354'
    container__radEmu = 'quay.io/hdc-workflows/rademu:9fe1e61'
}

process {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
}