params {
    samplesheet = false
    sample_orientation = 'row'
    tax_level = 'species'
    metric = 'relative_abundance'
    formula = false
    fdr_cutoff = "0.05"
    min_abund = "1"
    data_output = "output/data"
    web_output = "output/web"
    container = 'quay.io/fhcrc-microbiome/python-pandas:4110fdb'
    container__corncob = 'quay.io/biocontainers/r-corncob:0.3.2--r43h3342da4_0'
}